.panel{
    display: none;
    padding: 20px;
    background-color: antiquewhite;
    border-radius:10px;
    box-shadow:0px;rgb(rgb(134,84,84),rgb(61,156,61), rgb());
    animation: fadeIn 0.5s ease;
}